h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

ul {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
